/*          FONT
font-family: 'Raleway', sans-serif; */

/*          COULEURS
bleu - #0065FC
bleu claire - #DEEBFF 
gris (fond) - #F2F2F2 */

/*          BREAKPOINTS :
992 px pour les écrans d'ordinateurs
767 px pour les tablettes
< 767 px pour les telephones portables */

* {
    font-family: 'Raleway', sans-serif;
}

/*  ----------------------------------- HEADER */
body header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}
@media screen and (max-width: 767px){
    body header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* ----------------------------------- LOGO */
#logo img{
    height: 35px;
    padding-left: 38px;
}
@media screen and (max-width: 767px){
    #logo img{
        height: 45px;
        padding: 20px 0 0 0px;
        margin-left: 15px;
    }
}

/* ----------------------------------- NAV HEADER  */
#nav-header{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
@media screen and (max-width: 767px){
    #nav-header{
        font-size: 15px;
        margin-top: 20px;
        min-width: 300px;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
}
/* ------------------------------------ */
#nav-header a{
    text-decoration: none;
    color: black;
    transition: 0s;
}
@media screen and (max-width: 767px){
    #nav-header a{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
/* ------------------------------------ */
#nav-header a:nth-child(1){
    padding: 31px 20px;
}
@media screen and (max-width: 767px){
    #nav-header a:nth-child(1){
        padding: 12px 0px;
        border-bottom: #F2F2F2 3px solid;
    }
}
/* ------------------------------------ */
#nav-header a:nth-child(2){
    padding: 31px 38px;
}
@media screen and (max-width: 767px){
    #nav-header a:nth-child(2){
        padding: 12px 0px;
        border-bottom: #F2F2F2 3px solid;
    }
}
/* ------------------------------------ */
#nav-header a:hover:nth-child(1){
    border-top: #0065FC 3px solid;
    color: #0065FC;
}
@media screen and (max-width: 767px){
    #nav-header a:hover:nth-child(1){
        border-bottom: #0065FC 3px solid;
        border-top: #0065FC 0px solid;
    }
}
/* ------------------------------------ */
#nav-header a:hover:nth-child(2){
    border-top: #0065FC 3px solid;
    color: #0065FC;
}
@media screen and (max-width: 767px){
    #nav-header a:hover:nth-child(2){
        border-bottom: #0065FC 3px solid;
        border-top: #0065FC 0px solid;
    }
}


/* SUB-HEADER */ 
#sub-header{
    padding-left: 40px;
    margin: 20px auto;
}
@media screen and (max-width: 991px){
    #sub-header{
        width: auto;
    }
}
@media screen and (max-width: 767px){
    #sub-header{
        padding-left: 22px;
        padding-right: 22px;
        width: auto;
        margin: 75px 0 30px 0;
    }
}
/* ------------------------------------ */
#sub-header > h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}
@media screen and (max-width: 767px){
    #sub-header > h2{
        font-size: 22px;
        margin-bottom: 15px;
        line-height: 25px;
    }
}
#sub-header > p{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 14px;
}
@media screen and (max-width: 767px){
    #sub-header > p{
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 300;
    }
}


/* --------------------------------- BARRE-DE-RECHERCHE */
#barre-de-recherche{
    width: 370px;
    display: flex;
    margin: 20px 0;
}
@media screen and (max-width: 767px){
    #barre-de-recherche{
        width: 335px;
        margin: 30px auto;
    }
}
/* ------------------------------------ */
.location{
    background: #F2F2F2;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 0 0 12px;
}
@media screen and (max-width: 767px){
    .location{
        width: 50px;
        height: 50px;
        border-radius: 17px 0 0 17px;
    }
}
.location i{
    font-size: 15px;
}
@media screen and (max-width: 767px){
    .location i{
        font-size: 19px;
    }
}
.location a{
    text-decoration: none;
    color: black;
}
/* ------------------------------------ */
.text-location input{
    height: 41px;
    width: 200px;
    border: 1px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-left: 10px;
}
@media screen and (max-width: 767px){
    .text-location input{
        height: 46px;
        width: 225px;
    }
}
.text-location input::placeholder{
    color: black;
    font-size: 14px;
}
@media screen and (max-width: 767px){
    .text-location input::placeholder{
        font-size: 15px;
    }
}
/* ------------------------------------ */
.rechercher{
    border: black 0px solid;
    border-radius: 0 12px 12px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 13.5px;
    font-weight: 550;
    background-color: #0065FC;
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
}
@media screen and (max-width: 767px){
    .rechercher{
        width: 50px;
        height: 50px;
        border-radius: 17px 17px 17px 17px;
        margin-left: -15px;
    }
}
.rechercher p{
    color: #ffffff;
}
@media screen and (max-width: 767px){
    .rechercher p{
        display: none;
    }
}

/* ------------------------------------ */
.rechercher a{
    text-decoration: none;
    color: white;
}
/* ------------------------------------ */
.rechercher i{
    display: none;
}
@media screen and (max-width: 767px){
    .rechercher i{
        display: block;
        font-size: 16px;
        color: white;
    }
}
/* ------------------------------------ */
.rechercher button, input[type="submit"]{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*  ----------------------------------- FILTRES */
#filtres{
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    width: auto;
    height: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-bottom: 20px;
}
@media screen and (max-width: 767px){
    #filtres{
        align-items: flex-start;
        flex-direction: column;
        height: 120px;
        min-width: 320px;
    }
}
@media screen and (max-width: 447px){
    #filtres{
        height: 190px;
    }
}
/* ------------------------------------ */
.filtre-split{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px){
    .filtre-split{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
/* ------------------------------------ */
#filtres > p{
    font-size: 15px;
    margin-top: 10px;
}
@media screen and (max-width: 767px){
    #filtres > p{
        font-size: 18px;
        margin-bottom: 5px;
    }
}
/* ------------------------------------ */
.filtre{
    padding-left: 0px;
    margin-top: 10px;
}
/* ------------------------------------ */
.filtre a{
    border: 1.5px solid #dfdfdf;
    border-left: 1.5px solid #DEEBFF;
    height: 37px;
    padding-right: 18px;
    margin-left: 15px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    border-radius: 50px 50px 50px 50px;
    position: relative;
    transition: 0.4s ease-in-out;
}
@media screen and (max-width: 767px){
    .filtre a{
        margin-right: 8px;
        margin-left: 0px;
        height: 46px;
    }
}
/* ------------------------------------ */
.filtre a i{
    color: #0065FC;
    border-radius: 50%;
    border: 2px solid #DEEBFF;
    background: #DEEBFF;
    width: 36px;
    height: 36px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1.5px;
    left: -2px;
    transition: 0.4s ease-in-out;
    z-index: 2;
}
@media screen and (max-width: 767px){
    .filtre a i{
        width: 45px;
        height: 45px;
        font-size: 16px;
    }
}
.filtre a:hover i{
    transform: rotate(10deg);
    left: 3px;
}
.filtre a p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 47px;
    color: black;
    font-size: 14px;
    transition: 0.4s ease-in-out;
}
@media screen and (max-width: 767px){
    .filtre a p{
        font-size: 16px;
        padding-left: 55px;
    }
}

.filtre a:hover p{
    padding-left: 50px;
}
@media screen and (max-width: 767px){
    .filtre a:hover p{
        padding-left: 63px;
    }
}
.blue-circle{
    border-radius: 50%;
    border: 1px solid #0065FC;
    background: #0065FC;
    width: 36px;
    height: 36px;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
}
@media screen and (max-width: 767px){
    .blue-circle{
        width: 45px;
        height: 45px;
    }
}
/* ------------------------------------ */
.filtre .filtre-animation:hover i{
    background: rgb(45, 45, 45);
    border: 1.5px solid rgb(45, 45, 45);
}
.filtre .economique:hover i{
    color: rgb(255, 255, 255);
}
.filtre .romantique:hover i{
    color: rgb(255, 255, 255);
}
.filtre .familial:hover i{
    color: rgb(255, 255, 255);
}
.filtre .animaux:hover i{
    color: rgb(255, 255, 255);
}


/* ----------------------------------- SUB-HEADER INFO */
#sub-header-info{
    width: 360px;
    display: flex;
    align-items: center;
    margin-top: 0px;
}
@media screen and (max-width: 767px){
    #sub-header-info{
        max-width: 330px;
        margin-top: 30px;
    }
}
#sub-header-info p{
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 200;
}
@media screen and (max-width: 767px){
    #sub-header-info p{
        font-size: 15px;
    }
}
#sub-header-info i {
    border: 1px solid grey;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #0065FC;
}
@media screen and (max-width: 767px){
    #sub-header-info i {
        height: 20px;
        width: 24px;
        font-size: 12px;
    }
}


/* ----------------------------------- HEBERGEMENT */

#hebergements{
    height: 500px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 991px){
    #hebergements{
        height: 650px;
    }
}
@media screen and (max-width: 767px){
    #hebergements{
        height: 1980px;
        flex-wrap: wrap-reverse;
    }
}
/* ------------------------------------ mets le signe € en gras */
span.strong{
    font-weight: 500;
}
/* ------------------------------------ */
#hebergement-a-marseille{
    max-width: 650px;
    min-height: 450px;
    min-width: 630px;
    height: 66%;
    width: 67%;
    margin-left: 24px;
    margin-right: 20px;
    background-color: #F2F2F2;
    padding: 0px 10px;
    border-radius: 15px;
}
@media screen and (max-width: 991px){
    #hebergement-a-marseille{
        height: 97%;
        width: 47%;
        
        min-height: auto;
        min-width: 410px;
        margin-left: 18px;
        margin-right: 18px;
    }
}
@media screen and (max-width: 767px){
    #hebergement-a-marseille{
        height: 1400px;
        width: 100%;
        min-width: 300px;
        max-width: 650px;
        margin: 0 auto;
        border-radius: 0;
        background-color: #ffffff;
    }
}
/* ------------------------------------ */
#hebergement-a-marseille h2{
    font-size: 17px;
    font-weight: 600;
    padding-top: 32px;
    padding-left: 15px;
    margin-bottom: 18px;
}
@media screen and (max-width: 767px){
    #hebergement-a-marseille h2{
        font-size: 22px;
        font-weight: 600;
        width: 310px;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 0px;
    }
}
/* ------------------------------------ */
#images-hebergements{
    min-height: 150px;
    height: 77%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 991px){
    #images-hebergements{
        height: 82%;
    }
}
@media screen and (max-width: 767px){
    #images-hebergements{
        height: 1250px;
        width: 102.5%;
    }
}
/* ------------------------------------ */
.hebergement-box{
    position: relative;
    background-size: cover;
    background-position: center;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 165px;
    height: 140px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    transition: 0.4s ease-out;
}
@media screen and (max-width: 767px){
    .hebergement-box{
        width: 300px;
        height: 180px;
        border: 4px solid white;
        border-radius: 19px;
    }
}
.hebergement-box:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
     rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* ------------------------------------ */
.hebergement-box > img{
    border-radius: 15px;
    height: 100px;
    width: 185px;
    object-fit: cover;
}
@media screen and (max-width: 767px){
    .hebergement-box > img {
        width: 320px;
        height: 165px;
    }
}
/* ------------------------------------ */
.hebergement-details{
    position: absolute;
    bottom: 0;
    width: 91%;
    background-color: #ffffff;
    padding: 8px 9px;
    border-radius: 0px 0px 10px 10px;
}
@media screen and (max-width: 767px){
    .hebergement-details{
        width: 95%;
        height: 48px;
    }
}
/* ------------------------------------ */
.hebergement-name{
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
    color: black;
}
@media screen and (max-width: 767px){
    .hebergement-name{
        font-size: 16px;
    }
}
.hebergement-price{
    font-size: 12px;
    font-weight: 200;
    padding-bottom: 5px;
    color: black;
}
@media screen and (max-width: 767px){
    .hebergement-price{
        font-size: 14px;
    }
}
/*  ----------------------------------- AFFICHER PLUS */
.afficher-plus{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: black;
}
@media screen and (max-width: 767px){
    .afficher-plus{
        width: 300px;
        height: 30px;
        margin: 0 auto;
        padding-left: 30px;
        display: flex;
    }
}
/* ------------------------------------ */
  


/*  ----------------------------------- RATING STAR STYLE */
.star-notation{
    font-size: 9px;
}
@media screen and (max-width: 767px){
    .star-notation{
        font-size: 10px;
    }
}
.blue-star{
    color: #0065FC;
}
.grey-star{
    color: #F2F2F2;
}



/* ----------------------------------- LES HEBERGEMENT POPULAIRES */
#les-plus-populaires{
    min-width: 280px;
    min-height: 450px;
    max-width: 280px;
    max-height: 578px;
    height: 66%;
    width: 25%;
    background-color: #F2F2F2;
    padding: 0px 10px;
    border-radius: 15px;
}
@media screen and (max-width: 991px){
    #les-plus-populaires{
        min-width: 268px;
        margin-right: 18px;
        width: 35%;
    }
}
@media screen and (max-width: 767px){
    #les-plus-populaires{
        min-height: 450px;
        max-width: none;
        height: 590px;
        margin-right: 0px;
        width: 100%;
        border-radius: 0px;
        background-color: #f0f0f0;
    }
}
/* ------------------------------------ */
#images-populaires{
    min-height: 150px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 767px){
    #images-populaires{
        height: 80%;
        width: 100%;
    }
}
/* ------------------------------------ */
#images-populaires a{
    display: flex;
}
/* ------------------------------------ */
.header-populaires{
    display: flex;
    justify-content: space-between;
    margin: 30px 25px 20px 25px;
}
@media screen and (max-width: 767px){
    .header-populaires{
        margin: 20px auto;
        width: 325px;
    }
}
.header-populaires h2{
    font-weight: 600;
    font-size: 17px;
}
@media screen and (max-width: 767px){
    .header-populaires h2{
        font-weight: 600;
        font-size: 22px;
    }
}
.header-populaires i{
    font-size: 16px;
} 
@media screen and (max-width: 767px){
    .header-populaires i{
        font-size: 21px;
    }
}
/* ------------------------------------ */
.populaire-box{
    width: 85%;
    height: 95px;
    border: 4px solid white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
    transition: ease-out 0.4s;
}
@media screen and (max-width: 767px){
    .populaire-box{
        height: 130px;
        width: 325px;
        border-radius: 20px;
        border: 5px solid white;
    }
}
.populaire-box:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* ------------------------------------ */
.populaire-radius{
    border-radius: 14px 0 0 14px;
    height: 95px;
    width: 98px;
    object-fit: cover;
}
@media screen and (max-width: 767px){
    .populaire-radius{
        height: 131px;
        width: 125px;
    }
}
.populaire-radius-hotel-bleu-et-blanc{
    border-radius: 14px 0 0 14px;
    height: 95px;
    width: 200px;
    object-fit: cover;
}
@media screen and (max-width: 767px){
    .populaire-radius-hotel-bleu-et-blanc{
        height: 131px;
        width: 225px;
    }
}
/* ------------------------------------ */
.populaire-details{
    width: 90%;
    background-color: #ffffff;
    padding: 8px 9px;
    border-radius: 0px 10px 10px 0px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
}
/* ------------------------------------ */
.populaire-name{
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;
    color: black;
}
@media screen and (max-width: 767px){
    .populaire-name{
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 10px;
        padding-top: 5px;
        width: 150px;
    }
}
/* ------------------------------------ */
.populaire-price{
    font-size: 11px;
    font-weight: 200;
    padding-bottom: 5px;
    color: black;
}
@media screen and (max-width: 767px){
    .populaire-price{
        font-size: 14px;
        font-weight: 300;
    }
}
/* ------------------------------------ */
#images-populaires i{
    font-size: 8px;
    margin-top: 28px;
}
@media screen and (max-width: 991px){
    #images-populaires i{
        margin-top: 18px;
    }
}
@media screen and (max-width: 767px){
    #images-populaires i{
        margin-top: 38px;
        letter-spacing: -1px;
        font-size: 11px;
    }
}
/* ------------------------------------ */





/* ----------------------------------- ACTIVITES A MARSEILLE */
#activites-a-marseille{
    height: 490px;
}
@media screen and (max-width: 991px){
    #activites-a-marseille{
        height: 850px;
        margin: 20px 0;
    }
}
@media screen and (max-width: 767px){
    #activites-a-marseille{
        height: 1370px;
        margin: 0;
    }
}
/* ------------------------------------ */
#activites-a-marseille h2{
    font-size: 19px;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 945px;
    margin: 0 auto;
    padding: 0 0px;
}
@media screen and (max-width: 991px){
    #activites-a-marseille h2{
        width: 465px;
        padding: 10px 0px;
    }
}
@media screen and (max-width: 767px){
    #activites-a-marseille h2{
        text-align: left;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 300px;
        font-size: 21px;
        font-weight: 600;
    }
}
/* ------------------------------------ */
#activites-flex{
    display: flex;
    height: 450px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 991px){
    #activites-flex{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: auto;
        max-width: 767px;
        height: 800px;
        margin: 0 auto;
        padding: 0 140px;
        background: #ffffff;
        border-radius: 15px;
        min-width: auto;
    }
}
@media screen and (max-width: 767px){
    #activites-flex{
        width: 0;
        height: 1270px;
        align-content: space-between;
    }
}
/* ------------------------------------ */
.activite-style{
    margin: 0 8px 0 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    transition: 0.4s ease-out;
}
@media screen and (max-width: 767px){
    .activite-style{
        font-size: 16px;
        font-weight: 600;
    }
}
.activite-style:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
     rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* ------------------------------------ */
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 371px;
}
@media screen and (max-width: 767px){
    .flex-column{
        height: 408px;
    }
}
/* ------------------------------------ */
.activites-box-1{
    position: relative;
    border-radius: 15px;
}
.activites-box-1 img{
    border-radius: 15px;
    width: 225px;
    height: 370px;
    object-fit: cover;
}
@media screen and (max-width: 767px){
    .activites-box-1 img{
        height: 190px;
        width: 330px;
    }
}
#activites-flex .activite-name-1{ 
    position: absolute;
    bottom: 0;
    width: 195px;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 0px 0px 15px 15px;
}
@media screen and (max-width: 767px){
    #activites-flex .activite-name-1{
        width: 300px;
        padding: 21px 15px;
    }
}
/* ------------------------------------ */
.activites-box-2{
    position: relative;
    border-radius: 15px;
}
.activites-box-2 img{
    border-radius: 15px;
    width: 225px;
    height: 190px;
    object-fit: cover;
}
@media screen and (max-width: 767px){
    .activites-box-2 img{
        height: 190px;
        width: 330px;
    }
}
#activites-flex .activite-name-2{ 
    position: absolute;
    bottom: 0;
    width: 195px;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 0px 0px 15px 15px;
}
@media screen and (max-width: 767px){
    #activites-flex .activite-name-2{
        width: 300px;
        padding: 21px 15px;
    }
}
/* ------------------------------------ */
.activites-box-3{
    position: relative;
    border-radius: 15px;
}
.activites-box-3 img{
    border-radius: 15px;
    width: 225px;
    height: 150px;
    object-fit: cover;
}
@media screen and (max-width: 767px){
    .activites-box-3 img{
        height: 190px;
        width: 330px;
    }
}
#activites-flex .activite-name-3{ 
    position: absolute;
    bottom: 0%;
    width: 195px;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 0px 0px 15px 15px;
}
@media screen and (max-width: 767px){
    #activites-flex .activite-name-3{
        width: 300px;
        padding: 21px 15px;
    }
}
/* ------------------------------------ */
.activites-box-4{
    position: relative;
    border-radius: 15px;
}
.activites-box-4 img{
    border-radius: 15px;
    width: 225px;
    height: 370px;
    object-fit: cover;
}
@media screen and (max-width: 767px){
    .activites-box-4 img{
        height: 190px;
        width: 330px;
    }
}
#activites-flex .activite-name-4{ 
    position: absolute;
    bottom: 0%;
    width: 195px;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 0px 0px 15px 15px;
}
@media screen and (max-width: 767px){
    #activites-flex .activite-name-4{
        width: 300px;
        padding: 21px 15px;
    }
}
/* ------------------------------------ */
.activites-box-5{
    position: relative;
    border-radius: 15px;
}
.activites-box-5 img{
    border-radius: 15px;
    width: 225px;
    height: 160px;
    object-fit: cover;
}
@media screen and (max-width: 767px){
    .activites-box-5 img{
        height: 190px;
        width: 330px;
    }
}
#activites-flex .activite-name-5{ 
    position: absolute;
    bottom: 0;
    width: 195px;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 0px 0px 15px 15px;
}
@media screen and (max-width: 767px){
    #activites-flex .activite-name-5{
        width: 300px;
        padding: 21px 15px;
    }
}
/* ------------------------------------ */
.activites-box-6{
    position: relative;
    border-radius: 15px;
}
.activites-box-6 img{
    border-radius: 15px;
    width: 225px;
    height: 179px;
    object-fit: cover;
}
@media screen and (max-width: 767px){
    .activites-box-6 img{
        height: 190px;
        width: 330px;
    }
}
#activites-flex .activite-name-6{ 
    position: absolute;
    bottom: 0%;
    width: 195px;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 0px 0px 15px 15px;
}
@media screen and (max-width: 767px){
    #activites-flex .activite-name-6{
        width: 300px;
        padding: 21px 15px;
    }
}


/* ----------------------------------- FOOTER */
body footer{
    background: #F2F2F2;
    height: 200px;
    font-family: 'Raleway', sans-serif;
    /* min-width: 1100px; */
}
@media screen and (max-width: 991px){
    body footer{
        min-width: auto;
    }
}
@media screen and (max-width: 767px){
    body footer{
        flex-wrap: wrap;
        height: 450px;
        padding-bottom: 20px;
        padding-top: 8px;
        min-width: auto;
    }
}
.footer-margin{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 38px;
}
@media screen and (max-width: 991px){
    .footer-margin{
        width: 100%;
        padding: 0 0px;
    }
}
@media screen and (max-width: 767px){
    .footer-margin{
        flex-wrap: wrap;
        width: 100%;
        height: 450px;
        padding: 0 0px;
    }
}
/* ------------------------------------ */
body footer h1, p{
    color: black;
}
body footer h1{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}
@media screen and (max-width: 767px){
    body footer h1{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 19px;
    }
}
body footer p{
    min-width: 170px;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 9px;
}
@media screen and (max-width: 767px){
    body footer p{
        font-size: 16px;
        font-weight: 300;
       line-height: 20px;
    }
}
body footer a{
    text-decoration: none;
    
}
/* ------------------------------------ */
footer .footer-flex{
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 50px 120px 50px 0px;
}
@media screen and (max-width: 991px){
    footer .footer-flex{
        margin: 50px 45px 50px 50px;
    }
}
@media screen and (max-width: 767px){
    footer .footer-flex{
        height: 80px;
        margin: 40px 110px 0px 35px
    }
}
